table {
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    width: 60px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}
.button{
    background-color: brown;
}